@media (max-width: 1330px) {
  .team__cards {
    gap: 10px;
  }
}

@media (max-width: 1240px) {
  .team__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (max-width: 1165px) {
  .who__info {
    gap: 30px;
  }

  .who__inner {
    padding: 0px 20px 20px 20px;
  }
}

@media (max-width: 1000px) {
  .hero__inner {
    flex-direction: column;
  }

  .hero__content {
    padding-top: 8%;
    max-width: 640px;
  }

  .hero__foto {
    padding-top: 8%;
  }

  .hero__foto-img {
    width: 477px;
  }

  .features__content-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .faq__inner {
    flex-direction: column;
  }

  .about {
    padding: 60px 0;
  }

  .about__inner {
    flex-direction: column;
  }

  .about__info {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .about__photo-img {
    margin: 0 auto;
  }

  .who__info {
    flex-direction: column;
    text-align: center;
  }

  .who__text {
    text-align: center;
  }

  .who__goal-text,
  .who__improv-text {
    margin: 0 auto;
  }

  .features__hero-inner {
    flex-direction: column;
  }

  .features__hero-image {
    padding-top: 8%;
  }

  .features__hero-content {
    max-width: 600px;
    text-align: center;
  }

  .plans__cards {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .plans__cards:hover {
 
  }
  

  .plans__list {
    margin: 0 auto;
    padding-bottom: 80px;
  }

  .plans__cost {
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .plans__btn {
    max-width: 300px;
    margin: 0 auto;
  }

  .plans__card {
    padding: 64px 48px 32px 48px;
  }

  .contact__first-pair {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact__second-pair {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact__form {
    padding: 55px 140px 69px 140px;
  }

  .contact-btn {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 950px) {
  .footer__social {
    padding-left: 25px;
  }

  .grid__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 855px) {
  .footer__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .footer__social {
    padding-left: 0px;
  }

  .header__menu {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: #767575;
    padding: 80px 20px;
    transition: top 1s ease;
    z-index: 20;
  }

  .header__menu-list {
    flex-direction: column;
    text-align: center;
  }

  .header__menu--active {
    top: 0;
  }

  .header__btn {
    display: none;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 20px;
    margin-left: auto;
    position: relative;
    z-index: 21;
  }

  .footer__logo-link {
    margin: 0 auto;
  }

  .footer__inner {
    text-align: center;
  }

  .footer__logo-text,
  .footer__social-text {
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .footer__social-list {
    margin: 0 auto;
    padding-top: 20px;
  }

  .footer__contacts {
    padding: 18px 0 16px 0px;
    justify-content: center;
  }

  .work__inner {
    flex-direction: column;
    gap: 60px;
  }

  .work__content {
    margin: auto;
    text-align: center;
  }

  .work__content-link::after {
    left: 260px;
  }

  .work__grid-list {
    padding-right: 0;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
  }

  .work__grid-img {
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .work__grid-title {
    text-align: center;
  }

  .work__grid-text {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .clients__inner {
    flex-direction: column;
  }

  .clients__content {
    max-width: 100%;
    text-align: center;
  }

  .clients {
    padding: 60px 0;
  }

  .faq {
    padding: 60px 0 60px 0;
  }

  .blog__posts {
    grid-template-columns: repeat(1, 1fr);
  }

  .process__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .process__title {
    font-size: 38px;
  }

  .mission {
    padding: 60px 0;
  }

  .mission__item {
    display: flex;
    flex-direction: column;
  }

  .mission__lable,
  .mission__title,
  .mission__text {
    text-align: center;
  }

  .benefits {
    padding: 60px 0;
  }

  .benefits__cards {
    flex-direction: column;
    text-align: center;
  }

  .benefits__card-img {
    margin: 0 auto;
    padding-bottom: 26px;
  }

  .benefits__down {
    flex-direction: column;
  }

  .benefits__users {
    margin-bottom: 26px;
    text-align: center;
  }

  .benefits__down-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .team {
    padding: 60px 0;
  }

  .features__hero-inner {
    gap: 150px;
  }

  .features__benefits {
    flex-direction: column;
    text-align: center;
  }

  .blog__top {
    padding: 60px 0 60px;
  }

  .blog__info-title {
    font-size: 38px;
  }

  .blog__cards-title {
    font-size: 38px;
  }

  .blog__cards-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__case-title,
  .blog__case-text {
    text-align: center;
  }

  .contact__form {
    padding: 55px 40px 69px 40px;
  }

  .read__client-desc {
    font-size: 22px;
  }
}

@media (max-width: 650px) {
  .projects {
    padding: 60px 0;
  }

  .projects__top {
    flex-direction: column;
  }

  .projects__top-title {
    margin-bottom: 30px;
  }

  .features {
    padding: 60px 0;
  }

  .features__content-list {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .features__content-img {
    margin: auto;
    padding-bottom: 22px;
  }

  .faq__question-top {
    gap: 23px;
  }

  .about__info-title {
    font-size: 38px;
  }

  .team__cards {
    display: flex;
    flex-direction: column;
  }

  .team__title {
    font-size: 38px;
  }

  .read__top {
    padding: 60px 0;
  }

  .read__about {
    padding: 56px 0 50px;
  }

  .read__desc {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .read__top-title {
    font-size: 38px;
  }
}

@media (max-width: 550px) {
  .process__cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .process__card-img {
    padding-bottom: 32px;
    margin: 0 auto;
  }

  .process {
    padding: 60px 0;
  }

  .process__card-title,
  .process__card-text {
    text-align: center;
  }

  .benefits__down-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__cards-inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio__card {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 470px) {
  .hero__buttons {
    flex-direction: column;
  }

  .hero__buttons-one,
  .hero__buttons-two {
    text-align: center;
  }

  .hero__buttons-two::after {
    right: 130px;
  }

  .hero__content-title {
    font-size: 38px;
  }

  .projects__top-title {
    font-size: 38px;
    text-align: center;
  }

  .portfolio__filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .portfolio__filter-btn {
    white-space: nowrap;
  }

   .hero__buttons-two::after {
    display: none;
  }
}


